## Tuple

In [1]:
my_tuple = (1,2,3,4,5)

In [2]:
print(my_tuple)

(1, 2, 3, 4, 5)

In [3]:
print(type(my_tuple))

<class 'tuple'>

In [4]:
my_tuple_2 = ("hello","hi",1,2,4,100)

In [5]:
my_tuple_2[0]

'hello'

In [6]:
my_tuple_2[0][1]

'e'

In [7]:
my_tuple_2[1:4]

('hi', 1, 2)

### Set

In [8]:
my_set -{1,2,3,1.2.3}

SyntaxError: invalid syntax (<ipython-input-8-1d6a9455d8a2>, line 1)

In [9]:
my_set = {1,2,3,1,2,3}

In [10]:
print(my_set)

{1, 2, 3}

In [11]:
my_set[0]

TypeError: 'set' object does not support indexing

## duplicates are not allowed in set, except that u can store 
- if we have list of duplicate elements nd we have to remove them, we dont know which are they.... u can simply pass List within set to remove duplicates

In [12]:
my_list

NameError: name 'my_list' is not defined

In [13]:
my_list = [1,2,3,1,2,3]

In [14]:
print(my_list)

[1, 2, 3, 1, 2, 3]

In [15]:
my_set_list = set(my_list)

In [16]:
my_set_list

{1, 2, 3}

In [17]:
my_list2 = list(my_set_list)

In [18]:
my_list2

[1, 2, 3]

In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [2]:
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
print my_list[::-1]

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(my_list[::-1])? (<ipython-input-3-99151bca2023>, line 1)

In [4]:
l = [1,2,3,4,5]

In [5]:
print l[::-1]

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(l[::-1])? (<ipython-input-5-c276c23f2279>, line 1)

In [6]:
print(l[::-1])

[5, 4, 3, 2, 1]

In [7]:
print(l[-4::-1])

[2, 1]

In [8]:
print(l[-4::-2])

[2]

In [9]:
print(l[-1:-4])

[]

In [10]:
print(l[-1::-4])

[5, 1]

In [11]:
print(l[-2::-3])

[4, 1]

In [12]:
p = [1,2,3,400,500,600,700,8,9,10]

In [13]:
print(p)

[1, 2, 3, 400, 500, 600, 700, 8, 9, 10]

In [14]:
print(p[-2::-6])

[9, 3]

In [15]:
print(p[-2::-4])

[9, 500, 1]